@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Vollkorn:wght@500&display=swap");
:root {
  --gold: #feda6a;
  --lightgold: #e9d7a3;
  --lightgray: #d4d4dc;
  --gray: #393f4d;
  --black: #1d1e22;
}
h1 {
  color: var(--gold);
  font-size: 3em;
  font-family: "Vollkorn", serif;
}
a {
  text-decoration: none !important;
}
